{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Transaction</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{stock["symbol"]}}</td>
                        <td style="color: {{'green' if stock['shares'] > 0 else 'red'}}">{{'Bought' if stock['shares'] > 0 else 'Sold'}}</td>
                        <td>{{stock["shares"]|abs}}</td>
                        <td>{{stock["price"]|usd}}</td>
                        <td>{{stock["date"]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}